* {
    margin: 0;
    text-align: center;
}

body {
    background-color: #171817;
}

header {
    color: #700808;
    font-family: "Bungee Tint", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
    background: #000000;
}

#game {
    display: flex;
    justify-content: center;
}

#user, #computer {
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 80vh;
    margin-left: 8vw;
    margin-right: 8vw;
    margin-top: 5vh;
}

.avatar {
    width: 20vw;
    height: 60vh;
}

#computerHpBar, #userHpBar {
    background-color: #008b02;
    width: 100%;
    height: 3vh;
}

#btn-div {
    display: flex;
    align-items: center;
}

button {
    width: 10vw;
    height: 10vw;
    border: none;
    border-radius: 50%;
    background-color: rgb(213, 35, 18);
    font-size: 1.5vw;
    font-family: "Rubik Glitch", system-ui;
    font-weight: 400;
    font-style: normal;
}

button:hover {
    background-color: rgb(177, 14, 1);
    cursor: pointer;
}

h2 {
    color: #d2a952;
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 52px;
}
